@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.npm {
    width: 100px;
}

.magnifying-glass {
    width: 20px;
}

.search-bar {
    border: 1px solid lightgray;
}

.search-button {
    border: 1px solid lightgray;
}

.join {
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
}

.log-in {
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
}